@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Black+Han+Sans&family=Gowun+Dodum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Black+Han+Sans&family=Dongle&family=Gowun+Dodum&display=swap');
*{
    font-family: "Bagel Fat One", serif;
    font-weight: 400;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #1c2644;
}
#main-title {
    margin: 0px 0;
    font-size: 4em;
}
.container {
    margin: 0 auto;
    padding: 20px;
}

.menu {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    font-family: "Dongle", serif;
    /* padding: 0px 10px 0px 10px; */
}
.menu a{
    margin: 30px 20px;
    text-decoration: none;
    box-sizing: border-box;
    width: 140px;
    height: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu a:hover{
    background-color: #fb8d8d62;
    border-radius: 10%;
    border: 3px solid white;
    
    /* cursor: pointer; */
}

.link img{
    width: 100px;
    height: 110px;
}
.link {
    display: inline-block;
    margin: 15px;
    color: #e3e3e3
}
.link span {
    display: block;
    margin-top: 10px;
    font-size: 2em;
    font-family: "Dongle", serif;
}

.christmas {
    color: #FC3E4F;
}

.i {
    color: green;
    font-size: 7rem;
}

.others {
    color: #e3e3e3;
}
