body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f9f9f9;
}
h1 {
    margin: 20px 0;
    font-size: 2.5em;
    color: #333;
}
.container {
    margin: 0 auto;
    padding: 20px;
}

.menu {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.menu a{
    margin: 30px;
}

.link img{
    width: 120px;
    height: auto;
}
.link {
    display: inline-block;
    margin: 15px;
    color: #333;
}
.link span {
    display: block;
    margin-top: 10px;
    font-size: 1.1em;
}
